HOST=<VM-IP>
PORTS_FRONTEND=8282
PORTS_BACKEND=8283
PORTS_ADMINER=8285
SECRET_KEY=<Ausgabe von openssl rand -base64 48>
DEBUG=False
DJANGO_SUPERUSER_PASSWORD=<dein Passwort>
POSTGRES_DB=conduit
POSTGRES_USER=conduit
POSTGRES_PASSWORD=<dein Passwort>