POSTGRES_PASSWORD=Test1234!
API_URL=http://localhost:8283/api

POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

SECRET_KEY=2^f+3@v7$v1f8yt0!s)3-1t$)tlp+xm17=*g))_xoi&&9m#2a&
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGIN_WHITELIST=0.0.0.0:8282,localhost:8282,